/* .mainContainer {
    background-color: blueviolet;
    height: 100%;
  }
   */
.reviewsSection {
  background-color: cadetblue;
  height: 90vh;
}
.moviesSection {
  background-color: #141414;
  height: 90vh;
}
.title {
  font-size: 30px;
  text-align: center;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
