/* .mainContainer {
    background-color: blueviolet;
    height: 100%;
  }
   */
.reviewsSection {
  background-color: cadetblue;
  height: 90vh;
}
.moviesSection {
  background-color: coral;
  height: 90vh;
}
.title {
  font-size: 30px;
  text-align: center;
  background-color: cornflowerblue;
}
